*{
    margin :0;
    padding:0;
    font-family: sans-serif;

}
body{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(back.jpeg);
   
    background-size:cover;
   
}
.container{
    width:380px;
    height:400px;
    margin:8% auto;
    background-color: whitesmoke;
    border-radius:4px;
    position: relative;
    overflow: hidden;
   
}

h3 {
    text-align:center;
    margin-bottom: 40px;
    color:#777;
}
.container form{
   
    width:280px;
    top:60px;
    left:50px;
    position: absolute;
    transition: 0.5s;
   
    
    

}

form input{
    width:90%;
    padding:10px ;
    margin :5px 5px;
    outline:none;
    background:transparent;
    border-radius: 15px;
    border:1px solid grey;
   


}

.btn {
    text-align:center;
    width:100%;
    margin-bottom:15%;
    margin-top:2%;

   
     
    
}

form button{
    width:120px;
    height:30px;
    border-radius: 30px;
    border:0;
    background-color:goldenrod;
    outline:none;
    cursor: pointer;
    
    

}
#form1{

    left:50px;
}

#form2{
    left:500px;

}
#form3{
    left:500px;
    
}
#form4{
    left:500px;
    
}

.step-row{
    width:380px;
    height:40px;
    margin:0 auto;
    display:flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px black;
    position: relative;
}
.step-col{
    text-align:center;
    width:95px;
    
    
}
#progress{
    position:absolute;
    height:100%;
    width: 95px;
    background-color:goldenrod;

}