<link rel="stylesheet" href="./css/form.css">


    <div class="container">
        <form id="form1"> 
            <h3>Personal Details</h3>
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="name" placeholder="Email" required>
            <input type="text" name="name" placeholder="Pa" required>
            <input type="text" name="name" placeholder="Name" required>
            <div class="btn">
                <button type="button" id="next1">Next</button>
            </div>
        </form>
        <form id="form2"> 
            <h3>Education</h3>
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="name" placeholder="Email" required>
            <input type="text" name="name" placeholder="Pa" required>
            <input type="text" name="name" placeholder="Name" required>
            <div class="btn">
                <button type="button" id="back1">Back</button>
                <button type="button" id="next2">Next</button>  
            </div>
        </form>
        <form id="form3"> 
            <h3>Company</h3>
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="name" placeholder="Email" required>
            <input type="text" name="name" placeholder="Pa" required>
            <input type="text" name="name" placeholder="Name" required>
            <div class="btn">
                <button type="button" id="back2">Back</button>
                <button type="button" id="next3">Next</button>  
            </div>
        </form>
        <form id="form4"> 
            <h3>Social Links</h3>
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="name" placeholder="Email" required>
            <input type="text" name="name" placeholder="Pa" required>
            <input type="text" name="name" placeholder="Name" required>
            <div class="btn">
                <button type="button" id="back3">Back</button> 
                <button type="button" >Submit</button>  
            </div>
        </form>
        <div class="step-row">
            <div id="progress">
            </div>
            <div class="step-col"><small>1</small></div>
            <div class="step-col"><small>2</small></div>
            <div class="step-col"><small>3</small></div>
            <div class="step-col"><small>4</small></div>


        </div>
        
    </div>

    <script> 
        var form1 = document.getElementById("form1");
        var form2 = document.getElementById("form2");
        var form3 = document.getElementById("form3");
        var form4 = document.getElementById("form4");

        var next1 = document.getElementById("next1");
        var next2 = document.getElementById("next2");
        var next3 = document.getElementById("next3");
        var back1 = document.getElementById("back1");
        var back2 = document.getElementById("back2");
        var back3 = document.getElementById("back3");

        next1.onclick=function(){
            form1.style.left="-500px";
            form2.style.left="50px";
            progress.style.width="190px";
        }
        back1.onclick=function(){
            form1.style.left="50px";
            form2.style.left="500px";
            progress.style.width="95px";
        }

        next2.onclick = function(){
            form2.style.left="-500px";
            form3.style.left="50px";
            progress.style.width="285px";
        }
        back2.onclick=function(){
            form2.style.left="50px";
            form3.style.left="500px";
            progress.style.width="190px";
            
        }

        next3.onclick = function(){
            form3.style.left="-500px";
            form4.style.left="50px"
            progress.style.width="380px";
        }
        back3.onclick=function(){
            form3.style.left="50px";
            form4.style.left="500px";
            progress.style.width="285px"; 
            

        }

        

    </script>

    <script src="./js/form.js"></script>